
body{
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #373B44;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px 0 16px;
    text-decoration: none;
  }

  #fotoDiri{
    
    display: flex;
    justify-content: center;
    align-items: center;
      width: 100%
  }

  .deskripsi{
      padding: 10px 0 0 0;
      font-size: 20px;
      color: #ffffff;
  }

  .title-section{
      text-align: center;
  }

  #footer-section {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    background: #343a40;
    width: 100%;
    height: fit-content + 10px;
}
.list-inline-group{
    text-align: center;
    color: white;
}

th{
    text-align: center;
}

.th-tempuh{
    text-align: center;
}

.list-group-item{
    border: none;
}

.checked {
    color: orange;
  }
@media screen and (max-width: 900px) {
    
}


